.button {
    padding: 0.6em 1.2em;
    border-radius: 0.375em;
    cursor: pointer;
    color: #000;
    background: linear-gradient(120deg, #5eccff , #62bfeb, #abdef5 );
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .6s;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    display: inline;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .button:hover,
  .button:focus {
    background-position: 0 0;
  }

  .button:disabled{
    background: linear-gradient(-120deg, #5eccff , #81D4FA, #d0effd );
    opacity: 0.5;
    cursor: wait;
  }