@font-face {
  font-family: "Rocher Cinza";
  src: url("../../fonts/rocher_cinza.woff2") format("woff2");
}
@font-face {
  font-family: "Rocher Azul";
  src: url("../../fonts/rocher_azul.woff2") format("woff2");
}

.loading_typeit {
  position: absolute;
  font-size: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Rocher Cinza";
}

.typed {
  position: absolute;
  opacity: 0.2;
  font-size: 32rem;
}

.typeit_container {
  height: 60vh;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rest {
  font-family: "Rocher Cinza";
}

.input {
  font-family: "Rocher Azul";
}

.typeit_container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 1;
}

.character_name {
  text-align: center;
  font-size: 64px;
}
