@font-face {
  font-family: "Rocher Cinza";
  src: url("../../fonts/rocher_cinza.woff2") format("woff2");
}
@font-face {
  font-family: "Rocher Azul";
  src: url("../../fonts/rocher_azul.woff2") format("woff2");
}

.typed {
  position: absolute;
  opacity: 0.2;
  font-size: 32rem;
}

.typeit_container {
  height: 60vh;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rest {
  font-family: "Rocher Cinza";
}

.input {
  font-family: "Rocher Azul";
}

.typeit_container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 1;
}

.character_name {
  text-align: center;
  font-size: 64px;
}

.score {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  font-size: 32px;
  color: lightslategray;
}

.score .score_input_success {
  color: lightgreen;
}

.score .score_input_fail {
  color: lightcoral;
}

.score_sequence_success {
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  padding: 24px;
  font-weight: bold;
  font-size: 48px;
}
