.header_bg{
    border-bottom: 1px solid rgb(245, 239, 239);
}

.header{
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

.link {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding: .5rem 1rem;
}

:global(.active),
.link:hover{
    border-bottom: 1px solid gray;
}