.dropdown {
  position: relative;
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  top: 100%;
  left: 0;
  width: 100%;
}

.dropdown-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  width: 60%;
}

.dropdown-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.2s ease;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
}

.dropdown-button.is-open::after {
  transform: translateY(-50%) rotate(180deg);
}
