* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.content{
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

.animeLeft {
    transform: translateX(-20px);
    opacity: 0;
    animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
    to {
        transform: initial;
        opacity: initial;
    }
}

.loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 10px solid #ccc;
    border-right-color: transparent;
    animation: loading 1s infinite;
}

@keyframes loading {
    to{
        transform: rotate(360deg);
    }
}